{% load staticfiles %}
{% load blog_tags %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>登录_近涛个人博客 - 是一个专注软件测试的网站</title>
<meta name="keywords" content="软件测试，IT，计算机" />
<meta name="description" content="近涛个人博客，是一个专注软件测试的网站，发表功能测试，性能测试，自动化测试相关的文章" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
<link rel="stylesheet" href="{% static 'blog/css/m.css' %}">
{#引入网站图标#}
<link rel="shortcut icon" href="../../static/blog/images/favicon.ico">
<!--[if lt IE 9]>
    <script src="{% static 'blog/js/modernizr.js' %}"></script>
<![endif]-->

</head>
<body>
<header>
  <div id="mnav">
    <div class="logo"><a href="/">近涛个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/">首页</a></li>
      <li><a href="{% url 'blog:category_list' %}">分类</a></li>
      <li><a href="{% url 'blog:life'%}">享生活</a></li>
      <li><a href="{% url 'blog:login'%}">登录</a></li>
    </ul>
  </div>
  <script>
window.onload = function ()
{
	var oH2 = document.getElementById("mnavh"); 
	var oUl = document.getElementById("starlist");  
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script> 
</header>
<div class="line46"></div>
<article>
  <div class="blank"></div>
  <div class="leftbox">
  <div class="container">
    <div class="search">
        <h2 class="hometitle">{{message_title|safe}}</h2>
        <div class="blank"></div>
        {% if image_url %}
             <div><img style="margin:auto;width: 40px;height: 40px;" src="{{image_url|safe}}"></div>
        {% endif %}
        <div class="blank"></div>
        <div  style="text-align: center">{{message|safe}}</div>
        <div class="blank"></div>
        {% if goto_page %}
        <p style="text-align: center">
            本页面在 <b><span id="time_left"></span></b> 秒后自动跳转，若未跳转，请点击<a href="{{goto_url}}">此处</a>
        </p>
        {% endif %}
        <div class="blank"></div>
        <div class="blank"></div>
    </div>

    <div class="blank"></div>
    <div class="blank"></div>
    <div class="blank"></div>
    <div class="blank"></div>

  </div>

  </div>
  <div class="rightbox">

  </div>
</article>
<footer>
  <p>Design by <a href="/">近涛个人博客</a> <a href="/">浙ICP备17019539号-1</a></p>
</footer>
</body>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
{% if goto_page %}   <!-- 自动页面跳转 -->
    $(function(){
        var time = {{goto_time}} / 1000;
        intervalid = window.setInterval(function(){
            if (time <= 0){
                clearInterval(intervalid);
                window.location = '{{goto_url}}';
            }
            $('#time_left').text(time);
            time -= 1;
        },1000);
    });
{% endif %}
</script>
</html>
