{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
{% block title %}
<title></title>
{% endblock title %}
<meta name="keywords" content="软件测试，IT，计算机" />
<meta name="description" content="近涛个人博客，是一个专注软件测试的网站，发表功能测试，性能测试，自动化测试相关的文章" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block css %}
{% endblock css %}
{#引入网站图标#}
<link rel="shortcut icon" href="../../static/blog/images/favicon.ico">
<!--[if lt IE 9]>
    <script src="{% static 'blog/js/modernizr.js' %}"></script>
<![endif]-->

</head>
<body>
<header>
  <div id="mnav">
    <div class="logo"><a href="/">近涛个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/">首页</a></li>
      <li><a href="{% url 'blog:category_list' %}">分类</a></li>
      <li><a href="{% url 'blog:life'%}">享生活</a></li>
      <li id="user_part"><a href="{% url 'blog:login'%}">登录</a></li>
    </ul>
  </div>
  <script>
window.onload = function ()
{
	var oH2 = document.getElementById("mnavh");
	var oUl = document.getElementById("starlist");
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
</header>
<div class="line46"></div>
<article>
  <div class="blank"></div>
  <div class="leftbox">
      {% block left %}
      {% endblock left %}
  </div>
  <div class="rightbox">
      {% block right %}
      {% endblock right %}
  </div>
</article>
<footer>
  <p>Design by <a href="/">近涛个人博客</a> <a href="/">浙ICP备17019539号-1</a></p>
</footer>
</body>
{% block js %}
{% endblock js %}
</html>
